.header-image {
  background-image: url("/assets/images/beeren.png");
  background-size: cover;
}

mat-card img {
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 15%;
  height: 15%;
}

mat-card-header {
  padding-bottom: 5px;
}
