<mat-toolbar class="navBar" color="primary" class="navMenu" fxLayout="row">
  <div fxLayoutAlign="start center" fxLayoutGap='20px' fxFlex>
    <img class="logo" src="/assets/images/smartDwarf.png" />
    <a [routerLink]="['','/']">{{appName}}</a>
  </div>
  <div class="navMenu" fxLayoutAlign="end center" fxLayoutGap='20px' class="navbar-right" fxFlex>
    <mat-icon>{{onlineState}}</mat-icon>
    <mat-icon fxShow.lt-md [routerLink]="['','/settings']">library_add</mat-icon>
    <mat-icon fxShow.lt-md [routerLink]="['','/']">list</mat-icon>
  </div>
</mat-toolbar>